@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

nav {
    background-color: rgb(77, 255, 0);
    text-align: center;
    color:black;
    
}

a {
    color: rgb(0, 0, 0);
}

.logo {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

h1,
h4 {
    text-align: center;
    color: white;
}

p {
    color: greenyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;



}

body {
    background-color: rgb(2, 2, 2);
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: black;
}

div {
    border: 2px solid greenyellow;
    background-color: rgb(0, 0, 0);
}

img {
    border: 2px solid white;
}
.img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    margin-top: 40px;
    margin-bottom: 1px;
}

.pp{
    color: rgb(210, 247, 0);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.diid {
    width: auto;
    background-color: rgb(30, 26, 26);
    

}